@mixin media-queries {
    @media screen and (max-width: 1075px) {
        .header {
            display: flex;
            flex-direction: row;
            gap: 50px;
            line-height: 0px;
        }

        .nav {
            flex-direction: row;
            align-items: center;
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 16px;
        }

        .logo {
            margin-left: 30px;
        }

        .imageninicio h2 {
            font-size: 20px;
        }

        .equipo-img {
            max-width: 150px;
        }

        .nombre-personaje {
            display: flex;
            margin-left: 50px;
        }
    }

    @media screen and (max-width: 767px) {
        .header {
            display: flex;
            flex-direction: row;
            gap: 5px;
            line-height: 0px;
        }

        .nav {
            flex-direction: row;
            align-items: center;
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 16px;
        }

        .logo {
            margin-left: 15px;
        }

        .equipo-item .col-md-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .nombre-personaje {
            margin-top: 5px;
        }

        .equipo-img {
            max-width: 180px;
        }

        .navbar-brand {
            margin-right: 28rem;
        }

        .personaje-item {
            flex-direction: column;

            > .col-12 {
                margin-bottom: 15px;
            }

            > .order-md-1 {
                order: 1;
            }

            > .order-md-2 {
                order: 2;
            }
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 620px) {
        .header {
            display: flex;
            flex-direction: row;
            gap: 5px;
            line-height: 0px;
        }

        .nav {
            flex-direction: row;
            align-items: center;
        }

        .nav li {
            display: inline-block;
            margin-right: 0.001px;
            margin-left: 0.001px;
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            margin-right: 0.001px;
            margin-left: 0.001px;
        }

        .logo {
            margin-left: 10px;
            max-width: 120px;
        }

        .conjuntos {
            font-size: 16px;
        }

        .imageninicio {
            font-size: 16px;
        }

        .equipo-img {
            max-width: 100px;
        }

        .nombre-personaje {
            display: flex;
            margin-left: 25px;
        }

        .navbar-brand {
            margin-right: 5rem;
        }
    }
}
