$breakpoint-sm: 767px;
$breakpoint-md: 1075px;
$breakpoint-xs-max: 620px;

@mixin media-query-sm {
    @media screen and (max-width: $breakpoint-sm) {
        @content;
    }
}

@mixin media-query-md {
    @media screen and (max-width: $breakpoint-md) {
        @content;
    }
}

@mixin media-query-xs-max {
    @media only screen and (max-width: $breakpoint-xs-max) {
        @content;
    }
}
